@{
    ViewBag.Title = "Компании";
}
@model List<WorkersList.Models.Company>
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
<script type="text/javascript" src="~/Scripts/CompanyScripts.js"></script>
<div>
    <table class="table table-bordered" id="companyTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-10">Название</th>
                <th scope="col" class="col-1"></th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var temp in Model)
            {
                <tr>
                    <th>
                        @temp.Name
                    </th>
                    <th>
                        <button class="btn btn-danger" data-whatever="@temp.Id" data-toggle="modal" data-target="#delForm">Удалить</button>
                    </th>
                    <th>
                        <button class="btn btn-success" data-whatever="@temp.Id,@temp.Name" data-toggle="modal" data-target="#editForm">Редактировать</button>
                    </th>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" data-toggle="modal" data-target="#addForm">Добавить</button>
    <div class="modal fade" tabindex="-1" id="addForm" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                @using (Html.BeginForm())
                {
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Добавить компанию</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nameInput" class="col-form-label">Название</label>
                                <input id="nameInput" required class="form-control" name="Name" />
                            </div>
                            <input type="submit" class="btn btn-success" value="Добавить" />
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="delForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h5> Потвердите удаление</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <button class="btn btn-primary" data-dismiss="modal">Отмена</button>
                    <a class="btn btn-danger float-right" id="delBtn">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="editForm" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h5>Редактировать компанию</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="../Company/Edit">
                    <input name="id" type="hidden" id="editId" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nameInput" class="col-form-label">Название</label>
                            <input id="editInput" required class="form-control" name="name" />
                        </div>
                        <button id="editBtn" type="submit" class="btn btn-success">Редактировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>